@font-face {
    font-family: "TT Hoves";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/TTHoves-Regular.woff2") format("woff2"), url("../fonts/TTHoves-Regular.woff") format("woff");
}

@font-face {
    font-family: "TT Hoves";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/TTHoves-ExtraBold.woff2") format("woff2"), url("../fonts/TTHoves-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "TT Hoves";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/TTHoves-Medium.woff2") format("woff2"), url("../fonts/TTHoves-Medium.woff") format("woff");
}
