.title {
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    color: $black;

    @media screen and (max-width: 1280px) {
        font-size: 52px;
        line-height: 65px;
    }

    @media screen and (max-width: 600px) {
        font-size: 36px;
        line-height: 44px;
    }
}
