.promise-section {
    margin-bottom: 200px;

    @media screen and (max-width: 600px) {
        margin-bottom: 141px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-top: 147px;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 0;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            min-width: 1px;
            width: 1px;
            height: 100%;
            background-color: rgba($color: $black, $alpha: 0.1);
            position: absolute;
        }
    }

    &__text-block {
        flex: 0 1 619px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media screen and (max-width: 600px) {
            flex: 0 1 auto;
            margin-top: 55px;
        }
    }

    &__title {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        white-space: nowrap;

        @media screen and (max-width: 1280px) {
            padding: 0 40px;
        }

        @media screen and (max-width: 600px) {
            padding: 0;
            padding-bottom: 30px;
        }
    }

    &__text {
        flex: 0 1 423px;

        @media screen and (max-width: 600px) {
            margin-left: 64px;
        }
    }

    &__img-container {
        position: relative;
        flex: 0 1 431px;

        @media screen and (max-width: 600px) {
            flex: 0 0 auto;
        }

        &::before {
            content: "";
            position: absolute;
            width: 70px;
            height: 70px;
            bottom: -35px;
            left: -35px;
            background: $gray;

            @media screen and (max-width: 800px) {
                left: 0;
                width: 30px;
                height: 30px;
                bottom: -15px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 152px;
            height: 152px;
            top: calc(100% - 19px);
            left: -18px;
            opacity: 0.3;
            border: 2px dashed #535353;

            @media screen and (max-width: 800px) {
                left: 0;
                width: 65px;
                height: 65px;
                left: 8px;
                top: calc(100% - 9px);
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
